<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widgetxpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <!-- <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".activity.AgregarActividad"
            android:theme="@style/DialogTheme"
            android:label="@string/nueva_actividad" />
        <activity
            android:name=".activity.Login"
            android:label="@string/Login"
            android:theme="@style/DialogTheme">

        </activity>

        <receiver android:name=".Xpress">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.widgetxpress.DATA_FETCHED" />
                <action android:name="com.widgetxpress.ACTION_GOTO_LOGOUT"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xpress_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".WidgetFetchService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.DetailActividad"
            android:label="@string/editar"
            android:theme="@style/DialogTheme">

        </activity>
    </application>

</manifest>